.container
{
    border:1px solid black;
    margin:0 auto;
    width: 75%;
    text-align: center;
}
.flex-box-row3 , .flex-box-row2
{
    border:1px solid black;
    margin:0 auto;
    text-align: center;
}
.flex-box-row3 , #bjResult ,.flex-box-row1
{
    display:flex;
    border: 1px solid black;
    padding:10px;
    justify-content: space-around;
}
table th,td
{
    border: 1px solid black;
    padding: 5px;
}
.yourBox , .dealerBox
{
    border: 1px solid black;
    padding: 10px;
    width:100%;
}
.flex-box-row1 div
{
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    height: 400px;
   
}
.flex-box-row1
{
    width: 100%;
}
.BJBackground
{
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.flex-box-row1 img{
    width: 25%;
    height:0 auto;
    padding: 5px;
}
.yourBox
{
    display:flex;
    flex-wrap: wrap;
}